dialog {
  width: 50%;
  min-height: 40%;
  max-height: 60%;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 닫기 버튼 스타일 */
.close-dialog-button {
  padding: 8px 16px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
